.bg-body
{
   background-color: rgba(8, 6, 114, 0.849);
    padding: 5%;
    animation: changebg 10s linear infinite;
    /* margin-top: 81px; */
    display:block;
}
@keyframes changebg {
0%
{
    background-color: rgb(240, 88, 61);
}
20%
{
    background-color: rgb(214, 195, 18);
}
40%
{
    background-color: rgb(51, 255, 0);
}
60%
{
    background-color: rgb(0, 225, 255);
}
80%
{
    background-color: rgb(255, 0, 200);
}
100%
{
    background-color: rgb(240, 88, 61);
}

    
}
.bg
{
    padding: 2% 7% ;
    background-color:rgba(65, 7, 133, 0.897);
    border-radius: 15px;
    padding-bottom: 490px;
    margin-top: -33px;
    padding-top: -10px;
}

.msg-box
{
    display: block;
}
.header
{
    display: flex;
    margin-top: 70px;
   
   
}
.head-1
{
    width: 48%;
    margin-top: -30px;
    
}
.head-2
{
    background-color: white;
    color:rgba(65, 7, 133, 0.897);
    padding: 1%;
    border-radius: 15px;
    width: 49%;
    height: 200%;
    margin-top:-38px;
    display: flex;
    margin-left: -275px;
    
}
/* .box
{
    
    height: 80%;
    width: 80%;

} */
.up
{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 35px;
    font-size: 20px;
    color: #6e0869;
    font-weight: 300;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;

    
}
.content
{
    margin-top: -4%;
    background-color: white;
    color:rgba(65, 7, 133, 0.897);
    padding: 2%;
    height: 234px;
    border-radius: 15px;
    width: 50%;
    border-radius:12px ;
    display: flex;
    margin-left: -6%;

}
.dot
{
    display: inline;
    width: 15px;
    /* height: 100px; */
    margin-top: 20px;
    font-size: 300%;
}
.form
{
   
   display: inline;
}
.title
{
    margin-top: -10px;
    width: 50%;
    padding-right: 0%;
    font-size: 150%;
    text-align: left;
}
select{
    width: 100%;
    height: 35px;
    margin-left: 20px;
    margin-top: 16%;
    border-width: 5px;
    border-color: rgba(137, 43, 226, 0.178);
    color: #a01399;
    font-size:17px;
    font-family: Impact,sans-serif;
    letter-spacing: 1px;

}
.icon
{
    padding-right: 5%;
}
.content1
{
    margin-top: 1.5%;
    margin-left: 1.5%;
    background-color: white;
    color:rgba(65, 7, 133, 0.897);
    height: 420px;
    border-radius: 15px;
    width: 45%;
    border-radius:12px ;
    position: relative;   
   
}
.img1
{
    width: 100%;
    height: 560px;
    border-radius: 15px;
    margin-left: 8%;
    margin-top: -50px;
    /* object-fit:contain; */
}
.lastbox
{
    margin-left: 7px;
   
}
.p1
{
    width: 500px;
    height: 35px;
    margin-top: 30px;
    margin-left: -230px;
    /* border-width: 5px; */
    border-radius: 25px;
    border-color: blueviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    text-align: center;
    letter-spacing: 10px;
    color: rgb(43, 4, 80);
    background-color:rgb(181, 154, 206);
}
.container {
    position: relative;
    max-width: 80px;
    margin: 0 auto; 
}
  
.container .content2 {
    position: absolute; /* Position the background text */
    bottom: 10px; 
    left: 15px;
    text-align:center ;
    font-weight: 100;
    font-family:sans-serif;
    display: inline-block;
  }

.tittle1
{
    font-size:15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(188, 126, 245);
}
.hour
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}
.meridiem
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
}
.btn {
	padding: 15px 164px;
	border-radius: 15px;
	border: none;
	outline: none;
    animation: changebg 10s linear infinite;
	color: #250224f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	cursor: pointer;
    letter-spacing: 5px;
    margin: 352px -116px;
    margin-left: -225px;
    margin-top: 60px;
}
.btn1 {
	padding: 15px 164px;
	border-radius: 15px;
	border: none;
	outline: none;
    animation: changebg 10s linear infinite;
	color: #250224f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	cursor: pointer;
    letter-spacing: 5px;
    margin: 497px -421px;
    margin-left: -568px;
    margin-top: 358px;
}

.btn:hover {
	background: linear-gradient(to right, #f3f70a, #ee8ef7, rgb(123, 217, 230));
}
.greeting{
    margin: -270px;
    margin-top: 42px;
    

}

#greet{
    margin: -293px  -11px;
    color: #250224f8;
    background-color: rgba(8, 6, 114, 0.849);
    animation: changebg 10s linear infinite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 486px;
    padding-left: 15px;
    padding-top: 131px;
    padding-bottom: -4px;
    text-align: left;
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: -5px;

}
div#greet{
    display: block;
}
